{% if is_user_authenticated == False %}
	<h1>Invalid user credentials</h1>
	<p>A duplicate user has been found, user creation unsuccessfull</p>
{% else %}
	<h1>User password successfully updated</h1>
	<p>The password has been successfully updated</p>
{% endif %}
